# Visual Studio
.vs/
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# VSCode
.vscode/

# Compilados y archivos temporales
*.obj
*.o
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.ipa
*.lib
*.a
*.la
*.lai
*.mod
*.slo
*.lo
*.tmp
*.bin
*.gch
*.pch
*.log

# Archivos generados por el motor de Unreal Engine
*.xcodeproj
*.xcworkspace

# Unreal Engine - carpetas de proyecto
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Unreal Engine - excepciones en Saved y Build
!Build/**/PakBlacklist*.txt
!Build/**/*.ico
!Saved/SourceControl/UncontrolledChangelists.json
!Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini

# Plugins - carpetas generadas
Plugins/**/Binaries/
Plugins/**/Intermediate/

# Archivos de datos generados para mapas
*_BuiltData.uasset

# Archivos de arte fuente
SourceArt/**/*.png
SourceArt/**/*.tga

# Capturas automáticas
*.screenshot
Saved/AutoScreenshot.png

# Configuración de usuario
*.user
*.userprefs
