# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# VSCode
.vscode/

# Compilados y temporales
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.ipa
*.lib
*.a
*.la
*.lai
*.mod
*.tmp
*.bin
*.log

# Archivos generados por el motor de Unreal
*.xcodeproj
*.xcworkspace

# Unreal Engine folders
Binaries/*
Build/*
DerivedDataCache/*
Intermediate/*
Saved/*

# Excepciones de Saved y Build
!Build/*/
!Build/**/PakBlacklist*.txt
!Build/**/*.ico
!Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
!Saved/SourceControl/UncontrolledChangelists.json

# Plugins
Plugins/**/Binaries/*
Plugins/**/Intermediate/*

# Archivos de datos generados
*_BuiltData.uasset



# Capturas automáticas
*.screenshot

# Configuración específica de usuario
*.user
*.userprefs

# Logs específicos
FoxTrial/Saved/Logs/FoxTrial.log